
.OurServ{
  display: flex;
  padding: 30px;
  justify-content: center;
  position: relative;
  
}
.fe{
  color: var(--Aqua-Blue, #021939);
text-align: center;
font-family: Poppins;
font-size: 80px;
font-style: normal;
font-weight: 700;
line-height: 90%; 
margin: 10px;
}
.de{
  color: #06A37E;
font-family: Poppins;
font-size: 80px;
font-style: normal;
font-weight: 700;
line-height: 90%;
margin: 10px;
}
.sd{
  padding-bottom: 40px;
}
.Services{
height: 100vh;
background-color: #FEFEF2;
position: relative;
width: 100%;

}

.wrapper{
  display: flex;
}
.bird{
  margin-left: 115%;
  height: 500px;
  width: 500px;
  z-index: 1;
  position: relative;
}
.blob{
  height: 500px;
  width: 500px;
  margin-left: 113%;
  margin-top: -100%;
  z-index: 0;
  position: relative;
}
.ch {
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 15px;
    width: 10%;
    height: 50vh;
    position: relative;
    margin-left: 4%;
  }
  
  
  .square {
    width: 250px;
    height: 250px;
    flex-shrink: 0;
    border-radius: 20.429px;
    border: 0.426px solid #139F7E;
    background: linear-gradient(0deg, rgba(1, 203, 155, 0.10) 0%, rgba(1, 203, 155, 0.10) 100%), var(--Teal-white, #FEFEF2);
    overflow: hidden;
    position: relative;
  }
.Healthcare{
    margin: 10px;
    color: var(--Aqua-Blue, #021939);
    text-align: center;
    font-family: Poppins;
    font-size: 27px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 52px */
    padding: 10px;

  }

  .content{
    color: var(--Aqua-Blue, #021939);
text-align: center;
font-family: Poppins;
font-size: 12px;
font-style: normal;
font-weight: 300;
line-height: 120%; /* 20.429px */
letter-spacing: 0.34px;
padding: 10px;
  }

.LearnMore{
    color: #000;
text-align: center;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 100%; 
padding: 20px;
}
.inj{
  margin-top: -30%;
  rotate: 180deg;
  margin-left: 38%;
}

.band{
  margin-top: -30%;
  margin-left: 46%;
}
.page{
  margin-top: -36%;
  margin-left: 46%;

}
.gg{
  margin-top: -36%;
  margin-left: 51%;
}
@media only screen and (max-width:800px){
  .Services{
    margin-top: 2%;
  }
  .OurServ {
    padding: 10px;
}
.fe, .de{
  font-size: 50px;
}
.picc{
  display: none;

}
.square{
  width: 200px;
  height: 230px;
}
.Healthcare{
  font-size: 22px;
}
.content{
  font-size: 10px;
}
}