.Fourth{
    height: 50vh;
    background-color: #FEFEF2;
   position: relative;
    
}
.Text{
    display: flex;
    justify-content: center;
}
.Why{
color: var(--Aqua-Blue, #021939);
font-family: Poppins;
font-size: 80px;
font-style: normal;
font-weight: 700;
line-height: 90%; 
}
.Choose{
color: #139F7E;
font-family: Poppins;
font-size: 80px;
font-style: normal;
font-weight: 700;
line-height: 90%; 
margin-left: 30px;
}

.Us{
    color: var(--Aqua-Blue, #021939);
font-family: Poppins;
font-size: 80px;
font-style: normal;
font-weight: 700;
line-height: 90%; 
margin-left: 30px;
}
.pride{
color: var(--Aqua-Blue, #021939);
text-align: center;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 200;
line-height: 120%; 
margin-top: 25px;
white-space: inherit;
margin-left: 80px;
margin-right: 80px;
}

.features {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
  }
  
  .feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 40px;
  }
  
  .featureIcon {
    width: 50px;
    height: 50px;
    z-index: 3;
  }
  
  .featureTitle {
    color: #021939;
    font-size: 20px;
    font-weight: 600;
    margin: 20px;
  }
  @media only screen and (max-width: 1000px) and (min-width:600px){
    .Fourth{
      margin-top: 10%;
      height: fit-content;
    }
    .Why {
      font-size: 35px;
      }
      .Choose {
      font-size: 35px;
      margin-left: 10px;
      }
      .Us {
      font-size: 35px;
      margin-left: 10px;
      }
      .pride {
        
      font-size: 15px;
      padding: 4px;
      }
      .features {
  
      width: fit-content;
      max-width: 1000px;
      min-width: 700px;
     margin-left: 8%;
      }
      .feature {
      padding: 2px;
      margin-right: 70px;
      }
      .featureIcon {
      width: 70px;
      height: 70px;
      z-index: 3;
      }
      .featureTitle {
      max-width: 400px;
      font-size: 15px;
      margin: 30px;
      }
      .OurServ {
      padding: 20px;
      }
      .fe {
      font-size: 50px;
      }
      .de {
      font-size: 50px;
      }
      .sd {
      font-size: 12px;
      padding-left: 20px;
      padding-right: 20px;
      }
      .square {
      max-width: 550px;
      }
      .Al {
      display: none;
      }
 
      
  }
  @media only screen and (max-width: 600px){
    .Why {
      font-size: 40px;
      }
      .Choose {
      font-size: 40px;
      margin-left: 10px;
      }
      .Us {
      font-size: 40px;
      margin-left: 10px;
      }
      .pride {
      font-size: 15px;
      padding: 4px;
      }
      .features {
      width: -moz-fit-content;
      width: fit-content;
      max-width: 500px;
      padding-left: 40px;
      }
      .feature {
      padding: 2px;
      margin-right: 40px;
      }
      .featureIcon {
      width: 30px;
      height: 30px;
      z-index: 3;
      }
      .featureTitle {
      max-width: 100px;
      font-size: 10px;
      margin: 40px 0px 40px 40px;
      }
      .OurServ {
      padding: 20px;
      }
      .fe {
      font-size: 50px;
      }
      .de {
      font-size: 50px;
      }
      .sd {
      font-size: 12px;
      padding-left: 20px;
      padding-right: 20px;
      }
      .square {
      max-width: 550px;
      }
      .Al {
      display: none;
      }
      
  }
  
  