.Reviews{
    margin-top: 5%;
    height:60vh;
    background-color: #FEFEF2;
    overflow: hidden;
}

.Rev{
    position: relative;
    color: #139F7E;
text-align: center;
font-family: Poppins;
font-size: 80px;
font-style: normal;
font-weight: 700;
line-height: 90%; /* 108px */
}
.RevBox{
    display: flex;
}
.daBox{
    width: fit-content;
    min-width: 300px;
    height: 224.754px;
    flex-shrink: 0;
    border-radius: 16.687px;
    border: 0.834px solid #139F7E;
    background: #E5F9E9;
    margin: 2%;
}
.Name{
    position: relative;
    color: #139F7E;
font-family: Poppins;
font-size: 37.721px;
font-style: normal;
font-weight: 500;
line-height: 90%; 
margin:4%;
}
@media only screen and (max-width:1000px){
    .Reviews {
        margin-top:10%;
        }
        .Rev {
        font-size: 60px;
        }
        .daBox {
      
        width: fit-content;
        min-width: 350px;
        margin-left: 20%;
        }
        .RevBox {
        width: fit-content;
        min-width: 500px;
        overflow: hidden;
        padding-top: 40px;
        }
        
}
@media only screen and (max-width:800px){
    .Reviews {
        margin-top: 20%;
        }
        .Rev {
        font-size: 60px;
        }
        .daBox {
      
        width: fit-content;
        min-width: 350px;
        margin-left: 20%;
        }
        .RevBox {
        width: 400px;
        overflow: hidden;
        padding-top: 40px;
        }
        
}