@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  :root {
    --green: #06a37e;
    --teal: #fefef2;
    --blue: #021939
  }
}


body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color:#fefef2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
